<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Houses</title>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{static_url('css/green.css')}}" />
</head>
<body>
    <div id = 'banner'> 
        <div id = 'reg' class = 'lr'>
            <div id = 'logo'>
                <div style = 'vertical-align: middle;'>House Tour</div>
            </div>
            <div id = 'search_box'>
                <div id = 'search_logo'>
                    <svg viewBox="0 0 16 16" role="presentation" aria-hidden="true" focusable="false" style="height:18px;width:18px;display:block;fill:currentColor">
                        <path d="m2.5 7c0-2.5 2-4.5 4.5-4.5s4.5 2 4.5 4.5-2 4.5-4.5 4.5-4.5-2-4.5-4.5m13.1 6.9-2.8-2.9c.7-1.1 1.2-2.5 1.2-4 0-3.9-3.1-7-7-7s-7 3.1-7 7 3.1 7 7 7c1.5 0 2.9-.5 4-1.2l2.9 2.8c.2.3.5.4.9.4.3 0 .6-.1.8-.4.5-.5.5-1.2 0-1.7"></path>
                    </svg>
                </div>
                <div style='float:left; width: 380px;'>
                    <input type=  'text' id = 'search_input' placeholder="搜索"onmouseout = 'short_input()' onmouseover="long_input()"/>
                </div>
            </div>
            <button class ="btn" v-if = '!isUser'  @click = "risVisible = true, lisVisible = false" >注册</button>
            <div class = 'grey' v-if = 'risVisible | lisVisible'></div>
            <register v-if = 'risVisible' title = "注册" @on-close = 'close_r' @register = 'register'></register>
            <button class ='btn' v-if = '!isUser' @click = "lisVisible =true,risVisible = false">登陆</button>
            <login v-if = 'lisVisible' title = "注册" @on-close = 'close_l'></login>
            <button class ='btn'  ref= 'userId'></button>
            <a href = '{{new_house}}'>
                <button class ='btn' style = 'width:180px;'>发布我的House Tour</button>
            </a>
        </div>
    </div>
    <div id = 'card_hot' style = 'width:100%; padding-top: 575px;'>
        <div>
            <div class = 'ptitle'>最热体验</div>
        </div>
        <div>
            <v-card v-for="item in items" :item = 'item' @show_house = 'show'></v-card>
        </div>
    </div>
    <div id = 'card_new' style = 'width:100%; padding-top: 125px;'>
        <div>
            <div class = 'ptitle'>最新体验</div>
        </div>
        <div>
            <v-card v-for="item in items" :item = 'item'></v-card>
        </div>
    </div>
    <script src="{{ static_url('js/vue.js') }}"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="{{ static_url('js/register.js') }}"></script>
    <script src="{{ static_url('js/login.js') }}"></script>
    <script src="{{ static_url('js/card.js') }}"></script>
    <script type="text/javascript">
        function long_input(){
            var input = document.getElementById('search_box')
            input.style = "width: 540px;"
        }
        function short_input(){
            var input = document.getElementById('search_box')
            input.style = "width: 480px;"
        }
    </script>
</body>
</html>